
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.post{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
}

.post .post-image {
    width: 100%;
    max-width: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    margin-top: 10px;
    outline: 2px solid white;
}

.post-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
}

.top-info {
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.info_name{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.info_sing {
    width: 25px;
    margin: 0 10px;
}

.info_tag,
.info_date {
    color: gray;
    font-size: 14px;
    margin-right: 10px;
}

.content-info {
    font-size: 16px;
    margin-bottom: 15px;
}

.content-image {
    overflow: hidden;
    border-radius: 4% 4% / 4% 4%;
}

.reaction {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}
.reaction :hover{
    color: rgba(255,255,255,1);
}

.reaction div {
    color: rgba(255, 255, 255, .6);
    transition: all ease-in 0.3ms;
    cursor: pointer;
    font-size: 14px;
}

svg{
    margin-right: 5px;
}

.reaction span {
    font-size: 14px;
}

@media (max-width:460px) {
    .post{
        max-width: 35px;
    }

    .post-info {
        font-size: 16px;
    }

    .info_sing{
        width: 20px;
        margin: 0 5px;
    }

    .info_tag,
    .info_date {
        font-size: 10px;
        margin-right: 5px;
    }

    .content-info {
        font-size: 14px;
    }

    .reaction{
        font-size: 10px;
    }
}